body{
    padding: 20px;
}

.navbar-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-wrapper > .container{
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar{
    padding-right: 20px;
    padding-left: 20px;
}

.carousel{
    height: 400px;
    margin-bottom: 20px;
}

.carousel .carousel-item{
    height: 400px;
    background-color: #fff;
}

.carousel-inner > .carousel-item > img{
    position: absolute;
    height: 400px;
    min-width: 100px;
    top: 0;
    left: 0;
}

.mod{
    color: black;
    font-family: 'Carter One', cursive;
}

.row .col-lg-12 h2{
    text-align: center;
}

.team .col-lg-3{
    text-align: center;

}

.divider{
    margin-bottom: 40px;
}

.content .col-md-7{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.content .md-col-5{
    padding-left: 20px;
    padding-right: 20px;
}

.content{
    margin-bottom: 40px;
}

.para{
    font-family: 'Courgette', cursive;
}

.blue{
    background-color: gainsboro;
}